body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav{
   background-color: rgb(255, 255, 255);
   height: 60px;
   width: 80%;
   margin: auto;
   margin-top: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   position: sticky;
   top: 5px;
   z-index: 999;
}

.hero-text {
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 50px;
}

.text{
    position: absolute;
    left: 20%;
    top: 60%;
    margin-top: 50px;
}

.hero-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 50%;
    width: 80%;
    opacity: 50%;
}

h2 {
    text-align: center;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

p {
    text-align: center;
}

img {
    height: 50%;
    width: 80%; 
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

.card p {
  padding: 10px;
  font-weight: bold;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container div {
  margin: 10px;
}